* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
  }
  .main {
    width: 100%;
    height: 90vh;
    /* display: flex; */
    overflow: hidden;
        background:rgb(132, 197, 132);

  }
  .main-img{
    margin-top: 5%;
  }

  .right-col {
    /*     background: #ff7878; */
    position: relative;
    background:black;
  }
  .logo {
    width: 80px;
    margin: 30px 80px;
 
  }
  .content-box {
    width: 290px;
    position: absolute;
    top: 170px;
    left: 80px;
  }
  .rating {
    width: 90px;
  }
  .content-box h1 {
    font-size: 58px;
    margin: 15px 0 30px;
  }
  .content-box p {
    font-size: 13px;
    color: #949494;
    line-height: 15px;
    margin-bottom: 80px;
  }
  .content-box button {
    background: #ff7878;
    color: #fff;
    display: flex;
    align-items: center;
    border: 0;
    outline: none;
    border-radius: 4px;
    padding: 13px 25px;
    cursor: pointer;
  }
  .content-box button img {
    width: 25px;
    margin-left: 20px;
  }
 
  .navbar {
    width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .search-box {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    padding: 7px 15px;
    border-radius: 20px;
  }
  .search-box input {
    background: transparent;
    border: 0;
    outline: none;
    color: #fff;
  }
  ::placeholder {
    color: #fff;
    font-size: 9px;
}
.search-box img {
  width: 13px;
  margin-left: 20px;
}
.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin-left: 50px;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.navbar ul li img {
  width: 15px;
  margin-right: 15px;
}

.more-items {
  width: 220px;
  display: block;
  position: absolute;
  bottom: 35px;
  right: 100px;
}

.more-items img {
  width: 220px;
  margin-bottom: -130%;
 
}
.main-img {
  width: 450px;
  position: absolute;
  top: 40%;
  left: 52%;
  transform: translate(-50%, -45%);
}
#Aboutus{
  height: 40vh;
 
}
/* categories */
#categories{
height: 100vh;
background:rgb(132, 197, 132);

}
.container {
margin: 0 auto;
width: 90%;
max-width: 1200px;
display: flex;
align-items: center;
justify-content: center;
gap: 2em;
text-align: center;
}

.item {
display: flex;
flex-direction: column;
align-items: center;
border-radius: .5em;
-webkit-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
-moz-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
}

.img {
width: 90%;
height: 200px;
background-color: lightgrey;
background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: .3em;;
}
 
a {
  display: inline-block;
  padding: 20px;
}
 
p {
  padding: 0 1em;
  line-height: 130%;
}
 
 
@media(max-width:840px) {
  .container {
    flex-direction: column;
    max-width: 460px;
  }
 
  .item {
    flex-direction: row;
    width: 100%;
  }
 
}





 /* contactus */

 .containers{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}
.contact-fome{
  width: 1500px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.input-class{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-class, .msg{
  width: 48%;
}
.input-class .input, .msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid rgb(132, 197, 132);
  padding: 10px;
  color: rgb(77, 139, 77);
  width: 100%;
}
.msg textarea{
  height: 200px;
}
::-webkit-input-placeholder{
  color: aquamarine;
}
::-moz-input-placeholder{
  color: aquamarine;
}

.btn{
  background: rgb(132, 197, 132);
  text-align: center;
  padding: 15px;
  border-radius:  5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  width: 100%;
  box-shadow: 3px 3px 3px #888888;
}
.msg,button:hover{
  background-color: rgb(132, 197, 132);
  color: black;
}
@media screen and (max-width: 600px){
  .contact-fome{
      flex-direction: column;
  }
  .msg text-area{
      height: 80px;
  }
  .input-class, .msg{
      width: 100%;
  }
}
/* footer */
:root {
  --footer-bg: black;
  --color: #f2f3fb;
  --color-smooth: #9da2ae;
  --input-border: #3a456a;
  --btn-bg-color: #f1f2fc;
  --btn-hover-bg: #d5d9f6;
  --btn-color: #1e4131;
}

footer {
  font-size: 16px;
  background: var(--footer-bg);
  padding: 2em 4em;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1em;
  font-family: "IBM Plex Sans", sans-serif;
  height: 40vh;
}

footer ul {
  list-style: none;
}

.col {
  flex: 1;
}

.col-title {
  font-family: "Merriweather", serif;
  color: var(--color);
  font-size: 1.1em;
  font-weight: 500;
  padding: 0.5em 0;
}

.col-list a {
  color: var(--color-smooth);
  text-decoration: none;
  line-height: 1.4;
  font-weight: 400;
}

.col-list a:hover,
.col-list a:focus {
  text-decoration: underline;
}

.subscribe-form,
.social-media {
  display: flex;
  gap: 0.5em;
  padding: 0.5em 0;
}

.subscribe-input {
  width: auto;
  flex: 1;
  background: transparent;
  border: 0.06em solid var(--input-border);
  font-size: 1em;
  font-weight: 500;
  padding: 0.5em;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
  display: inline-block;
  color: var(--color-smooth);
}

.subscribe-input:focus {
  outline: none;
  border-color: var(--color);
  color: var(--color);
}

.subscribe-btn {
  background: var(--btn-bg-color);
  border: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
  display: inline-block;
  color: var(--btn-color);
  cursor: pointer;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background: var(--btn-hover-bg);
}

.form-title,
.social-col-title {
  font-size: 1em;
  color: var(--color);
  font-weight: 500;
}

.social-media {
  flex-direction: column;
}

.social-media-list {
  display: flex;
  gap: 0.5rem;
}

.social-media-list a {
  padding: 0.5em;
  color: var(--color-smooth);
  display: flex;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
}

.social-media-list a:hover,
.social-media-list a:focus {
  color: var(--color);
  background: #ffffff1a;
}

.social-media-list svg {
  width: 1.5em;
  height: 1.5em;
  transition: all 0.25s ease 0s;
}

@media screen and (max-width: 750px) {
  footer {
    padding: 2em;
    flex-direction: column;
  }
}